apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: postgres-gluster
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: postgres-gluster
    spec:
      containers:
        - name: postgres
          image: postgres:10.4
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres-config
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgredb
              subPath: postgres
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: postgres-gluster-claim
